
div.infoMeio {
  background-color: rgba(2, 0, 46, 0.373);
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0px;

}
h1.nameTitle {
  position: absolute;
}
img.leftMe {
  width: 25%;
  height: 65%;
  border-radius: 120px;
  position: relative;
  float: left;
  transition: all 250ms linear;
  left: 0;
  top: 150px;
}

p {
  top: 0;
  width: 60%;
  margin-left: 15%;
  overflow: initial;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: clamp(0.5em, 4vw, 1.4em);
  line-height: 1;
  color: #ffeba7;
  text-align: justify;
}