main {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
}

body {
    overflow: hidden;

}

p, h1, h2, h3 {
    font-family: "Segoe UI", Arial, sans-serif;
}

div#lockScreen {
    background-image: url('./assets/background-lock.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    background-position-y: 15%;

    display: flex;
    margin: auto;
    bottom: 0;
    right: 0;
}

img#lockScreenPicture {
    height: 200px;
    cursor: pointer;
}

#row {
    display: flex;
}

p:not(title-bar-text) {
    margin: 0px;
    margin-top: 15px;
}

.column {
    display: flex;
    align-items: start;
    flex-direction: column;
}

img#buddyLogin {
    width: 150px;
}

p#forgotPassword {
    color: #5077CB;
    margin-left: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

input {
    margin: 0px;
    width: 250px;
    margin-left: 25px;

}