 p {
     height: fit-content;

 }

 div.row {
     margin: auto;
     height: fit-content;
 }

 img {
     width: 550px;
 }


 @media screen and (max-width: 1000px) {

     img {
         width: auto;
         height: auto;
     }

     .mb {
         display: flex;
         flex-direction: column;
     }

 }